APP_NAME=ie4mat_rest_api
JWT_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JWT_ALGORITHM=HS256

HOST=0.0.0.0
PORT=8080
FILESDIR=uploaded

MONGO_DATABASE=ai4mat
MONGO_COLLECTION=data
MONGO_COLLECTION_USERS=users
API_V1_STR='/api/v1'