APP_NAME=iemap_rest_api
JWT_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JWT_ALGORITHM=HS256
JWT_LIFETIME=3600

HOST=0.0.0.0
PORT=8080
FILESDIR=uploaded
FRONTEND=http://localhost:3000 # URL of the frontend change according to NGINX configuration

MONGO_URI=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
MONGO_DATABASE=ai4mat
MONGO_COLLECTION=data
MONGO_COLLECTION_USERS=users
API_V1_STR=/api/v1

ENABLE_ONPREMISE_AUTH=True
SECRET_ONPREMISE_AUTH=XXXXXXXXXX

SMTP_SERVER=XXXXXXXXXX
SMTP_FROM=XXXXXXXXXX
SMTP_PWD=XXXXXXXXXX
SMTP_LIST_NOTIFY=[]